[2015-06-04 16:45] shanegibbs opened #2 "Missing config[:json_config]"
@mattyjones where is `config[:json_config]` setup? When using sensu-plugins-pagerduty (0.0.1), I get the following error:

[code]

See https://github.com/sensu-plugins/sensu-plugins-pagerduty/pull/1

[2015-06-08 16:42] warmfusion commented on #2
Looks like a bug where the script is assuming you've got some additional configuration going on.

Not sure if this'll work, but try adding a 'json_config' section to your pagerduty config like so:

[code]

[2015-06-08 17:27] shanegibbs commented on #2
I get the same error when using the above config. I also installed version 0.0.2 as well.

[2015-06-08 17:48] shanegibbs commented on #2
@warmfusion how about this? https://github.com/sensu-plugins/sensu-plugins-pagerduty/pull/3

[2015-06-08 17:59] mattyjones commented on #2
@warmfusion @shanegibbs If this works for you guys I will merge/build/push to rubygems so you can have it.

[2015-06-08 18:05] shanegibbs commented on #2
@mattyjones thx. sounds good to me

[2015-06-12 14:31] #2 closed

[2015-06-25 16:02] jroyal commented on #2
@mattyjones Was this change ever pushed to rubygems? I don't think it was, but maybe I just messed something up.

[2015-07-01 01:34] kam1kaze opened #4 "add proxy support"
Hi,

We need a proxy support of this plugin. Unfortunately, It looks like we cannot implement such feature until portertech/redphone#9 pull request is merged to redphone library.

[2015-09-16 13:07] jaxxstorm opened #6 "add retry support"
There's times when the PD API just doesn't do what it's meant to, for whatever reasons. Perhaps your network is screwed, who knows?

Anyway, I think this handler should have the option to retry creating and resolving an incident X number of times. Perhaps we should put it in the JSON config?

[2015-10-01 20:13] patrickli opened #8 "Unused dependency"
This gem depends on `pagerduty` and `redphone` gems. But only `redphone` is used. So please consider removing the dependency on `pagerduty`.

[2015-10-01 20:15] mattyjones commented on #6
@jaxxstorm  Thats a good thought! Do you have tim to code something up and I will merge it through?

[2015-10-01 20:21] mattyjones commented on #8
done, thanks!

[2015-10-01 20:21] #8 closed

[2015-10-14 07:09] jaxxstorm opened #10 "remove redphone library"
It looks to me like redphone won't be supported by @portertech in the near future

https://twitter.com/portertech/status/654188507921956864

I think it's time we moved this plugin to use another library that's actively maintained and is specifically used for pagerduty.

[This](https://github.com/envato/pagerduty) looks like a good candidate

[2015-10-21 17:02] zbintliff opened #11 "Release Cycle"
Hey just wondering what the release cycle is like for the new sensu plug in repos? We want to maintain parity with the repo and released gems but will need the the sensu client override before we roll out sense in our org (to replace nagios)

(this is copied from merged PR but not sure if you are notified when comments on closed items)

[2015-10-29 19:33] zbintliff commented on #11
bump

[2015-10-29 20:08] analytically commented on #11
Hi, I just released 0.0.7. https://rubygems.org/gems/sensu-plugins-pagerduty/versions/0.0.7

[2015-10-29 20:08] #11 closed

[2015-10-29 20:43] analytically commented on #10
I've coded this up but don't have Sensu running with PagerDuty, can you test this for me?

[2015-10-29 21:33] analytically commented on #10
Pushed it to the repo, will release after I find time to test.

[2015-10-29 21:52] jaxxstorm commented on #10
awesome!

[2015-10-29 22:03] jaxxstorm commented on #10
@analytically you need to change the handler class name, I'm getting a superclass mismatch. I can send a PR if you need.

[2015-10-29 22:10] analytically commented on #10
Woops, pushed.

[2015-10-30 13:39] zbintliff commented on #11
Awesome! Thanks

[2015-11-03 11:57] analytically commented on #10
Were you able to test?

[2015-11-04 00:32] jaxxstorm commented on #10
Yes works like a charm!

[2015-11-04 09:00] analytically commented on #10
Great, thanks!

[2015-11-04 09:00] #10 closed

[2015-11-09 12:49] analytically commented on #4
We're not using redphone anymore.

[2015-11-22 18:02] masteinhauser commented on #4
It looks like HTTP Proxy support [is not supported within the pagerduty gem](https://github.com/envato/pagerduty/blob/master/lib/pagerduty/http_transport.rb#L18-L31) when comparing to the Ruby Docs for [`Net::HTTP` and how to use Proxies](http://ruby-doc.org/stdlib-1.9.3/libdoc/net/http/rdoc/Net.html#label-Proxies).

I might be able to provide a PR for this, but we are evaluating using [flapjack.i

[2015-12-18 17:38] nicholascapo opened #14 "Pagerduty alert text is not updated by handler"
The alert text in Pagerduty does not change even when the output from the check has changed.
This means alerts can get suddenly worse, without me being aware of it.

Example:

Suppose I have a disk usage check which runs every ten minutes.

The disk is filling up so the check begins alerting (as seen in Uchiwa):
    `CheckDisk WARNING: / 71%`

I get a Pagerduty alert with text:
    `CheckDisk WARN

[2015-12-22 23:07] analytically commented on #14
The `event_summary` field is never touched in the handler. Can you show us a way to replicate this?

[2015-12-22 23:15] analytically commented on #14
Are you setting the incident_key field?

https://developer.pagerduty.com/documentation/integration/events/trigger -> if incident_key is set, this event will be appended to that incident's log, but the text might remain the same

[2015-12-28 22:31] nicholascapo commented on #14
@analytically No I'm not setting the incident_key field.

Example configuration:

The PageryDuty plugin was installed using `/opt/sensu/embedded/bin/gem install sensu-plugins-pagerduty`

This example uses the `date` command, but the above example of disk usage still works.

/etc/sensu/plugins/check-example:

[code]

/etc/sensu/conf.d/check-example.json:

[code]

/etc/sensu/conf.d/handler-pagerduty

[2015-12-28 23:50] nicholascapo commented on #14
I think what I'm asking for is that the description be updated every time the alert is triggered:
https://developer.pagerduty.com/documentation/integration/events/trigger

[2016-01-14 16:08] zbintliff commented on #14
What I just wrote was wrong.  But for this it doesn't make sense because then Sensu will have to keep track of outputs instead of exit code.

[2016-01-14 18:10] zbintliff commented on #14
Also, what you link makes it look like the description of the Alert is immutable

[2016-01-15 23:28] zbintliff opened #16 "Move Meta Data to be "Stable - Production Ready""
With tests covering both scripts (pending #15) I think this repo will be in stable enough condition to update the meta data to be production ready.

[2016-01-19 00:32] orien commented on #4
FYI the Pagerduty gem now has an explicit API for configuring an HTTP proxy. Version 2.1.0 has been released with this feature.

https://github.com/envato/pagerduty/pull/47

[2016-02-03 21:23] chromerobv opened #17 "multiple teams"
anyway to have a check alert multiple teams. i know i can setup 2 alerts but that seems over kill especially for some checks. i would rather be able to do

pager_team: "dbas,sysadmins"

or something similar.

[2016-02-03 23:17] gstaples opened #18 "Your cert has expired"
[root@sensuserver handlers]# gem cert --add <(curl -Ls https://raw.githubusercontent.com/sensu-plugins/sensu-plugins-pagerduty/master/certs/sensu-plugins.pem)
Added '/CN=mattjones/DC=yieldbot/DC=com'

[root@sensuserver handlers]# gem install sensu-plugins-pagerduty -P LowSecurity
ERROR:  While executing gem ... (Gem::Security::Exception)
    certificate /CN=mattjones/DC=yieldbot/DC=com not valid a

[2016-02-03 23:22] eheydrick commented on #18
Thanks for the issue. We are aware of the cert expiration and working on updating it. Apologies for the inconvenience.

[2016-02-04 12:40] analytically commented on #16
:+1:

[2016-02-04 12:45] #16 closed

[2016-02-27 20:09] heffergm opened #20 "Incidents not resolving"
As yet I can't replicate this 100% of the time. But often, I find that when I trigger an incident, when the condition that triggered said incident is resolved and the handler-pagerduty.rb says it resolved the incident, that in fact doesn't happen. I'm running sensu-plugins-pagerduty as installed by gem, version 0.0.9.

An example resolution issued here:

[code]

Left me with this issue still in pa

[2016-02-29 10:15] analytically commented on #20
Did you set the incident_key? That's a requirement for resolving issues.

[2016-03-04 03:56] etherge opened #21 "Method misused."
In bin/handler-pagerduty.rb, a method called _resolve_ is called to resolve incident.
[code]

The _resolve_ method is defined in lib pagerduty like this:

[code]
Notice that _resolve_ method is **not** defined with **Ruby keyword parameter**, but it is invoked with **keyword parameter**.  Actually, the _description_ and _details_ are not treated as **two** parameters but treated as **one** Hash ty

[2016-03-09 11:53] scottcunningham commented on #20
+1, I'm seeing this now too. I worked around it by using revision d994264a3cd90ccd53621883b6c4b48c6b5099fc. Not sure if that's the latest working version for me but that's what was previously installed on our sensu box before I changed to using the ruby gem. Perhaps it's because of moving to the PagerDuty gem instead of Redphone?

[2016-03-09 12:14] heffergm commented on #20
So the check is simply defined as part of a chef recipe in my case. I'm not doing any explicit setting of incident_key. Do I need to pass something into the blob now in order for resolutions to work? I'm not entirely clear on why this would be the case, given that sometimes I do see incidents resolving, but I haven't been able to determine as yet what the difference is between ones that work and o

[2016-03-10 00:17] scottcunningham commented on #20
Yeah, mine is part of a Puppet profile in my case so similar here.

[2016-03-10 16:06] heffergm commented on #20
I'm using a setup where we're setting a warning baseline in the config to alert on a low urgency path, i.e.

[code]

If I cause a condition where a pagerduty gets created at the warning level for ops_low, and then change that condition such that it becomes critical (but doesn't create a pagerduty incident), when the condition that triggered the incident is resolved sensu makes no attempt to resolv

[2016-03-10 21:52] heffergm commented on #20
Still drawing a blank here... I added some debug statements to the pagerduty handler. With the following incident triggered:

`Incident Key   sensu_sensu-server3-sensu_prod_us-east/sensu-server3_disk`

When resolved:

[code]

The incident keys match, but the incident is not resolved in pagerduty (not that the last log message is inaccurate: it's using `incident_key` rather than `incident_key_prefi

[2016-03-11 01:15] heffergm commented on #20
Happy days. I have a working regression.

The issue is that if the payload passed in the description greater than 1024 chars, the incident isn't resolved. This would appear to be a bug in the pagerduty api, as I'd expect a failure response.

[code]

[code]

The above will create an incident successfully, but fail to resolve it.

Change `details: details.slice(0..1024)` to `details: details.slice(0

[2016-03-11 09:59] analytically commented on #20
Create a PR with the slice 512.

[2016-03-11 14:49] etherge commented on #20
Please refer issue #21 and PR #22.

[2016-03-11 14:50] analytically commented on #20
Does PR #22 fix this issue as well?

[2016-03-11 15:14] heffergm commented on #20
Looks like that's the idea. Can we get a new gem released and I'll kill my PR.

[2016-03-21 22:08] gregmark opened #24 "Proxy suuport"
So it doesn't seem that there's any option available to allow this plugin to work behind a firewall. Unless I'm missing something, this is a feature that needs to be added.

I'm not a ruby programmer, but if you can point me in the right direction, I can probably figure out how to put together a pull request.

Thanks.

--Greg Chavez

[2016-04-12 14:47] willejs commented on #4
I was using this plugin with the http/s proxy environment variables defined and im 99.9% sure it worked?

[2016-04-12 14:58] masteinhauser commented on #4
@willejs I don't remember exactly what lead me to my conclusion, but it also highly depends on which version of Ruby you are running sensu and the handler under.

[2016-04-12 15:56] willejs commented on #4
Ive got the code somewhere where i did this, I remember playing around with this for a while. Essentially, you need to make sure the proxy_server variables are set in the parent process that spawns ruby.
Let me double check.

[2016-04-12 21:10] heffergm commented on #21
Any chance of getting a release cut with this fix?

[2016-04-13 00:19] eheydrick commented on #18
We have removed the cert for now.

[2016-04-13 00:19] #18 closed

[2016-04-13 00:20] eheydrick commented on #24
Thanks for the feature request. We're tracking this in #4 so going to close this one.

[2016-04-13 00:20] #24 closed

[2016-04-13 00:42] heffergm commented on #20
Resolved in 1.0.0 release

[2016-04-13 00:42] #20 closed

[2016-04-13 00:47] eheydrick commented on #21
Released in 1.0.0!

[2016-04-13 00:47] #21 closed

[2016-06-30 03:25] eheydrick commented on #4
Proxy support was added in #26 by @lcrisci and released in version 2.0.0 which is now on Rubygems.

[2016-06-30 03:25] #4 closed

[2016-07-15 08:43] RiRa12621 opened #28 "enable bidirectional functionality"
When working with Pagerduty and Sensu it would be cool to have sensu automatically pull status also from pager duty because you don’t want to look into different places to downtime and ACK and what not.
So we might want to create a downtime if we find that an alert has been ACK’ed in Pagerduty for example

[2016-07-28 10:43] chrisduong opened #29 "How to run rspec for this repo"
Hi,

I've tried to run Rspec for this repo, but it keep running forever. The command I use is `Rake spec`

 G/s  pagerduty   master  rake spec
/Users/cduong/.rubies/ruby-2.1.5/bin/ruby -I/Users/cduong/.gem/ruby/2.1.5/gems/rspec-support-3.5.0/lib:/Users/cduong/.gem/ruby/2.1.5/gems/rspec-core-3.5.1/lib /Users/cduong/.gem/ruby/2.1.5/gems/rspec-core-3.5.1/exe/rspec test/bin/handler-pagerduty_spec

[2016-07-29 07:59] chrisduong commented on #29
Hi,

I thought this plugin does not depend on **pagerduty** gem. And it is weird that it does not complain missing Gem while running.

I'm sorry for the noise.

[2016-07-29 07:59] #29 closed

[2016-08-10 15:52] DaveWitchalls opened #30 "An issue that was a warning that goes to critical doesn't send the resolution state"
I think this is semi by design, but any views appreciated.

We've come across this during testing. Using CPU use as an example;

If we set a warning threshold of 50%, an email gets sent. If it then goes to Critical at 70% the alert in PagerDuty is triggered. The problem for us is, if the CPU goes back to below the critical threshold, but still within the warning threshold, the resolution isn't sen

[2016-08-15 21:28] dhdanno opened #31 "Resolution sometimes does not trigger pagerduty"
I've seen this occur a number of times where there are bulk (10 or more at a time) incidents triggered, when they are resolved in sensu they are not resolved at PD.

Could be a network issue, perhaps a bulk request problem... maybe even an API bug or limitation at PD... But i thought i'd ask here, if others have seen this happen on their own infrastructure.

I have not started debugging and have n

[2016-09-19 17:47] guru-beach commented on #17
I'm not on this project, but one thing you could always do on the pager duty side is create a service that has both teams included and just use that service name instead  (.e.g. dbas_sysadmins)

[2016-09-19 17:51] guru-beach opened #32 "Documentation update"
It'd be helpful to know you can add pager_team to checks and not just at the client level.  I had to dig into the code to get my pages to route properly on a per-metric basis.  I also feel this is a much easier solution to implement than pd_override, especially when defining in something like puppet.

At first I had client level pd_override settings on a per metric basis (and also in dedup) and th

[2016-09-19 21:31] ghost commented on #32
@guru-beach, can you give me an example of each. I'm trying to set the pager_team in my checks and I'm getting the following error:

`{"timestamp":"2016-09-19T17:29:46.316569-0400","level":"info","message":"handler output","handler":{"type":"pipe","command":"/etc/sensu/handlers/pagerduty.rb","name":"pagerduty"},"output":["/etc/sensu/handlers/pagerduty.rb:53:in`api_key': undefined method `[]' for n

[2016-09-19 22:11] saravanakumar-periyasamy opened #33 "Doesn't create incidents when "flapping""
Sensu can generate events with action `flapping`, and the handler should be able to create incident when events are flapping.

[2016-09-20 18:46] guru-beach commented on #32
pager_team isn't a list item, it's a string.

[code]

[2016-09-26 18:56] ghost commented on #32
I can only provide one pager_team? What if I want to page more than one team based on the alert?

`"pager_team": "ops, sre"`

[2016-10-04 22:28] mjgorman opened #34 "API Request issues, missing api.json??"
setting up pagerduty plugin in my new sensu install, getting this error:
[code]

the config i'm using:
[code]

[2016-10-05 04:46] eheydrick commented on #34
That error [is raised](https://github.com/sensu-plugins/sensu-plugin/blob/master/lib/sensu-handler.rb#L132) if the server config is missing the `api` section. Take a look at your `/etc/sensu/config.json` and see if you have the `api` section. You can also run `/opt/sensu/embedded/bin/sensu-server -P -c /etc/sensu/config.json` to view the parsed configuration.

[2016-10-05 17:18] mjgorman commented on #34
@eheydrick  Thanks for the reply. I don't have a config.json, I'm using conf.d folder to load my config, so I used -d instead of -c. I don't have an api section on the server. I am running in docker and have the API server running separately. Is this part of the problem? Should I just duplicate the api settings from the api container to the server container?

[2016-10-05 18:38] mjgorman commented on #34
Went ahead and added api config to the server, just pointing at the api container dns. Seems to be working now. Thanks!

[2016-10-05 18:38] #34 closed

[2016-10-05 18:40] eheydrick commented on #34
Glad to hear that resolved it!

[2016-11-28 21:56] spang opened #35 "Please release new gem with contexts support!"
hey there,

The new support for contexts is awesome. Thanks @zroger! I was wondering if you'd consider bumping the version and uploading a new gem with this version. As it is, it is not very easy to install a version of this plugin with support for contexts.

[2016-12-05 22:37] garep opened #37 "pager_team variable with array of teams in check-definition"
I am specifying the following in my check-definition in sensu:
[code]

Is pager_team per check a 1:1 or can we specify multiple pager_teams per above?  It seems to only be alerting the first team specified (devtools_sensu).

Thanks,
Gary

[2017-02-28 04:16] majormoses commented on #28
Can you expand on what you want and why? Pagerduty is typically used to aggregate multiple services together in one place for alerting. How would pulling events that originated outside of sensu context such as cloudwatch work?

[2017-02-28 23:04] johntdyer commented on #35
@zroger  / @sstarcher - Can you guys please cut a new release ?

[2017-02-28 23:11] zroger commented on #35
Wish I could help, but I'm not the gem/repo maintainer.

[2017-03-01 07:37] eheydrick commented on #35
I just released 2.1.0 which has contexts support.

[2017-03-01 07:37] #35 closed

[2017-03-15 12:14] #6 closed

[2017-03-22 05:46] majormoses commented on #31
I have seen this occasionally but have not had the time to attempt to reproduce it. Maybe this will help? #39  @eheydrick can we get a release so we can test?

[2017-03-23 20:04] majormoses commented on #33
@saravanakumar-periyasamy You need to update your handler config to change the default behavior of: handle_flapping to true. See here for more info: https://sensuapp.org/docs/0.24/reference/handlers.html#handler-configuration

[2017-03-24 06:36] eheydrick commented on #31
Working on getting a release out.

[2017-03-24 06:45] eheydrick commented on #31
Just released 2.2.0.

[2017-03-24 06:45] eheydrick commented on #31
@dhdanno can you see if 2.2.0 helps.

[2017-03-24 17:06] majormoses commented on #30
Hmm I am seeing the same and need to spend some time looking into this. I wonder if maybe we can work around using event suppression rules?

[2017-03-24 19:16] majormoses commented on #30
Taking a look these are the only valid actions: https://sensuapp.org/docs/0.25/reference/events.html#how-are-sensu-events-created

- create
- resolve
- flapping

I honestly have not played much with flapping in sensu but this might help with some of the situations but not all. By default a handler has handle_flapping to true. https://sensuapp.org/docs/0.24/reference/handlers.html#handler-configura

[2017-03-24 19:18] majormoses commented on #33
just took a look at the code and it does require a minor tweak, I can open a PR for it if you want to do some testing.

[2017-03-24 19:52] majormoses commented on #33
@saravanakumar-periyasamy can you test my change and validate that this combined with the required config change works?

[2017-03-24 22:36] majormoses commented on #30
I checked on the pagerduty side and event suppression can only be done on initial ingest.

[2017-03-24 22:41] majormoses commented on #30
@eheydrick what are your thoughts? This is not really pagerduty specific nor can I think of a pagerduty specific work around.

[2017-03-26 03:50] sara4dev commented on #33
@majormoses - code does look good! I have the same change in my code & running for months now. My bad, I did not give the PR for that. Thanks for fixing it!

[2017-03-26 03:53] majormoses commented on #33
@saravanakumar-periyasamy no worries, can you comment on the PR saying you have tested it? This will help it typically get merged faster.

[2017-03-26 03:55] sara4dev commented on #33
tested this code & fixes the issue! Infact I am running this code fix in prod for several months now.

[2017-03-26 03:56] majormoses commented on #33
I meant on the actual PR: https://github.com/sensu-plugins/sensu-plugins-pagerduty/pull/41 as you had already commented here.

[2017-03-26 06:09] majormoses commented on #17
I tend to find that its best if only 1 person be the incident commander; paging multiple people at once causes confusion and lack of accountability. That being said I would say the way @guru-beach proposed would probably be best.

[2017-03-27 13:50] majormoses commented on #30
I checked with pageryduty and event spurpession will not serve as a work around. Unless we want to resolve on state change (I am torn on this). I think we might want to pose a generic question to the sensu community and see what people think.

[2017-03-27 13:54] majormoses commented on #32
@henrysail lets keep that conversation here: https://github.com/sensu-plugins/sensu-plugins-pagerduty/issues/17 and leave this about documentation update. I can make a pr for this when I get some time and my other current open pr is merged.

[2017-03-27 13:56] majormoses commented on #32
@guru-beach yup we use it the same way, I will update doc when I can with how we use/configure it.

[2017-03-27 13:57] DaveWitchalls commented on #30
Hi,

The workaround we had to go for was to include the resolved status in warning alerts. Far from ideal, but it does the job!

Dave.

[2017-03-27 19:39] majormoses commented on #30
@DaveWitchalls did you apply this via a filter or mutator? I have not had any time to really look into this much and would like to try out your workaround and see if it works for us.

[2017-03-28 15:46] DaveWitchalls commented on #30
Hi @majormoses

I asked the guy who did the work for me and got the below, it's reasonably long winded as it doesn't make much sense out of context, hope it helps!

NOTES ABOUT OUR USE OF SENSU
============================
1. By default we only send alerts if the occurrences count reaches 5, however this is configurable using the "occurrences" check variable.
2. By default we send reminder emails

[2017-03-28 18:08] majormoses commented on #30
@DaveWitchalls thanks for the info I will take a look and see if I can find some bastard amalgamation based on yours that works for us.

[2017-03-28 21:01] majormoses commented on #30
interesting, though considering this I am not sure if its worth the effort for me right now to use a filter now that occurances is an extenstion: https://github.com/sensu-extensions/sensu-extensions-occurrences

[2017-04-05 00:47] guru-beach opened #42 "Consider re-ordering setting overrides for client/check/json_config"
Currently a client level pager_team overrides all check based pager_team setting.

However, it would make more sense (to me at least) to have check level settings override client level settings.   This allows the client level setting to be the "default" for all checks, but allows various checks to be able to define teams.   This comes in especially handy when we have applications doing checking an

[2017-04-10 13:58] #33 closed

[2017-04-30 20:53] majormoses commented on #37
Yes it is intended to be a 1:1 relation, if you want to alert multiple teams then you should create the service and escalation policy like this: https://support.pagerduty.com/hc/en-us/articles/202828970-Notify-Multiple-Users-at-Once though I tend to discourage such setups as this can create confusion on who is supposed to be the incident commander.

[2017-04-30 21:11] majormoses commented on #32
@guru-beach please check out the documentation enhancement in #44 and let me know if there is anything more we should add or explain.

[2017-05-02 05:17] #32 closed

[2017-05-02 16:22] majormoses commented on #42
https://github.com/sensu-plugins/sensu-plugins-pagerduty/pull/43

[2017-05-02 16:24] majormoses commented on #28
clsing due to inactivity, feel free to open once you have the time to explain your use case.

[2017-05-02 16:24] #28 closed

[2017-05-07 06:06] majormoses commented on #32
closing as documentation enhancement was made and no feedback was given, feel free to re-open if it is still lacking.

[2017-05-07 06:09] majormoses commented on #37
If you need any further clarification or advice feel free ping me to re-open.

[2017-05-07 06:09] #37 closed

[2017-05-07 06:10] majormoses commented on #17
closing due to lack of activity.

[2017-05-07 06:10] #17 closed

[2017-05-10 05:02] majormoses commented on #14
I wonder if now that there is the concept of an alert and an incident we create an alert and attach it to an incident and then close and open new incidents with the same alert to keep track of history? BTW I still don't like this I just can't think of a way to solve it nicely given the constraints of sensu and pagerduty.

[2017-06-01 16:39] majormoses commented on #42
closed per #43

[2017-06-01 16:39] #42 closed

[2017-07-11 13:48] eliten00b commented on #14
I would be still interessted in a long term solution. We have the exact same problem.
A check by default alert a critical issue on pagerduty, but for each client we override the `pd_override` for warnings to a lower issue on pagerduty.

The problem is that only the last issue get resolved.

Examples:
ok -> warning -> ok : the low issue in pagerduty is resolved
ok -> warning -> critical -> ok : the

[2017-07-11 14:18] zbintliff commented on #14
I would argue this isn't an issue with the handler but with how sensu handles state transitions. Additionally, its a hard problem to solve since Sensu only keeps a finite history you can always think of a case where one will be unsolved. (ok -> w -> C (10000 times) -> ok)

[2017-07-11 14:23] majormoses commented on #14
I will ping some internal sensu folks and get their take on it but I agree there is really not much that I see we can do given how sensu handles state transition and also how the pagerduty api works.

[2017-07-11 14:28] majormoses commented on #14
Also I had a conversation with pagerduty about this a while ago and so we can't change the actual severity of the event once it has been sent to pagerduty.

[2017-07-11 14:29] majormoses commented on #14
The only thing I can think of is the hack outlined here: https://github.com/sensu-plugins/sensu-plugins-pagerduty/issues/30#issuecomment-289813445

[2017-07-11 14:52] portertech commented on #14
@eliten00b to properly manage a PagerDuty incident for each Sensu check severity transition, this handler plugin could use an incident key that includes severity. This handler plugin could then check for the existence of a PagerDity incident for the previous severity (Sensu event check history -1), and resolve the incident if it exists.

[2017-07-11 14:53] portertech commented on #14
@zbintliff I don't see "how sensu handles state transitions" has something to do with this issue, can you elaborate and provide an example?

[2017-07-11 14:54] portertech commented on #14
@majormoses I see this as a PagerDuty API limitation, being able to update the incident description would be rad, and make things considerably simpler.

[2017-07-11 15:07] portertech commented on #30
Sensu events now have a "occurrences_watermark", the Sensu built-in "occurrence" filter now uses it instead of "occurrences" for the purpose of the resolve action. These changes are in the Sensu Core 0.29 release.

[2017-07-11 15:09] zbintliff commented on #14
@portertech Sensu itself doesn't issue a RESOLVE event on state transition (2 -> 1), only when it hits 0.  Having a handler take that logic in itself is a bit out of scope for its responsibility.

If the handler takes responsibility of it then we need to know the check occurrences required to alert and check that many back in history. Then we also need to check if it happened enough to acctually a

[2017-07-11 15:10] zbintliff commented on #14
btw I agree updating description on an alert would be nice.

[2017-07-11 15:27] portertech commented on #14
@zbintliff I would leverage PagerDuty's API and its use of composed incident keys and the existence of a matching open incident, instead of having to consider Sensu event filtering methods (which could also be customized and added to by a user).

[2017-07-11 16:17] majormoses commented on #30
ok, cool we can have a reasonable path forward when 0.29 is supported by this plugin...

[2017-07-11 17:03] eliten00b commented on #14
Thanks for all the response. I fully agree that everything would be a workaround because of pagerduty api limitation.

I will try to solve the problem with a filter.

[2017-09-26 15:43] kshep commented on #30
@majormoses Any thoughts on whether/when that might happen? (for the record, Sensu skipped from 0.29 to 1.0.0 and subsequently 1.0.2 in July)

[2017-09-26 16:47] majormoses commented on #30
When someone is motivated enough and has the time to work on it. There are ~200 plugins and realistically 2 active maintainers (neither of us working for sensu) and we rely mostly on other community members to contribute.

Now beyond my boilerplate :man_shrugging: answer of when...I don't think it would be too hard taking a quick look at the plugin.

[2017-09-29 16:31] mbbroberg commented on #14
What would you say the right move is here? I think documenting this as a known limitation to  PagerDuty's API with a workaround of using filtering would be handy. Could be in a callout in the main README.md. Thoughts?

[2017-09-29 17:14] majormoses commented on #14
Definitely we should document this behavior as the text will not update and there is no workaround. There is overlap with this in #30 which there are workarounds for even in they are hacky. Going forward on #30 I would guess that we filter events in the handler (I know we are supposed to be trending away from that but I see no way around this) and use `occurrences_watermark` to resolve issues to h

[2018-01-07 23:43] joshbenner commented on #30
Does this plugin not work with Sensu >= 0.29? Or is there just work required to support changes related specifically to this issue?

[2018-01-08 17:08] majormoses commented on #30
This plugin does work with all recent versions of sensu, I am currently running sensu 1.1.1 and do not have issues. The comment referenced is regarding a work around for moving from warning -> critical -> warning. The idea was to auto resolve the incident and create a new one based on `occurrences_watermark`. This is still a hack and I do see that pagerduty does potentially have a better solution

[2018-01-09 22:41] majormoses commented on #31
Due to lack of feedback and I have not seen this in a while I am going to close this out. If someone has issues please comment back and we will re-open.

[2018-01-09 22:41] #31 closed

[2018-01-11 20:51] ashleyabrooks commented on #14
Hello from the PagerDuty Team! Following up to confirm this is a limitation in the PagerDuty API rather than in the Sensu integration itself. At the moment, incidents are immutable. I've submitted a feature request from the maintainer of this integration so our product team knows mutable incidents are important to our customers. If you have any questions, please feel free to reach out to support@p

[2018-01-11 20:52] ashleyabrooks commented on #30
Hello from the PagerDuty Team! Following up to confirm this is a limitation in the PagerDuty API rather than in the Sensu integration itself. At the moment, incidents are immutable so the parent incident can't be updated when the severity changes. You can click into the newest alert itself to get the latest data.

I've submitted a feature request from the maintainer of this integration so our prod

[2018-01-11 21:09] majormoses commented on #30
Thanks for confirming this.

[2018-01-11 21:10] majormoses commented on #14
Thanks for confirming this.

[2018-06-01 09:26] rajiv-g opened #48 "Upgrade sensu-plugin version"
As per [here](https://blog.sensuapp.org/deprecating-event-filtering-in-sensu-plugin-b60c7c500be3), event filtering in sensu-plugin is deprecated. Upgrade sensu-plugin version to 2.0.0

[2018-06-05 02:04] #48 closed

[2018-09-13 15:54] kaivanov opened #50 "Pagerduty API v1 is being deprecated"
Does this support the Pagerduty v2 API ?

[2018-09-15 21:59] majormoses commented on #50
We are pinned on https://github.com/sensu-plugins/sensu-plugins-pagerduty/blob/4.0.0/sensu-plugins-pagerduty.gemspec#L32 but inspecting the upstream code I don't think it does. I then saw this: https://github.com/envato/pagerduty/pull/52 which I will try to find some to review this weekend and try to get in touch with the upstream maintainer. /cc @jspaleta to see if maybe you can be some extra :ey

[2018-09-15 22:02] majormoses commented on #50
Will need to take note of the breaking changes that we will need to account for once its been accepted upstream.

[2018-09-18 15:01] majormoses commented on #50
So it turns out that the upstream gem is using the `events` v1 api not the REST v1 api so it will be supported post Oct 19th

https://v2.developer.pagerduty.com/docs/v1-rest-api-decommissioning-faq#section-will-the-v1-events-api-still-be-supported-

[2018-09-20 10:33] zenmetsu opened #51 "Pagerduty handler is not honororing "occurrences" property of checks, and is additionally being triggered when checks are silenced."
We have the pagerduty handler set up in parallel with our email handler. We notice that on checks where `"occurrences" : 5` is being set, email notifications are properly suppressed until the 5th occurrence, however a pagerduty incident is created immediately upon the first failed check.

Additionally, when silencing hosts within uchiwa in anticipation of a maintenance window, email handler proper

[2018-09-20 10:36] zenmetsu commented on #51
We have the pagerduty handler set up in parallel with our email handler.  We notice that on checks where '"occurrences" : 5'   is being set, email notifications are properly suppressed until the 5th occurrence, however a pagerduty incident is created immediately upon the first failed check.

Additionally, when silencing hosts within uchiwa in anticipation of a maintenance window, email handler pro

[2018-09-20 10:45] zenmetsu commented on #51
Currently using
Sensu 1.4.3
Uchiwa 0.10.3

[2018-09-20 11:29] zenmetsu commented on #51
closing issue, found workaround by adding filters to handle the occurrences issue, and realized that the stash-based silencing of the version of uchiwa that was running was not going to work as expected.  verified that using silence API that handler was indeed suppressed.

[2018-09-20 11:29] #51 closed

[2018-09-20 15:57] majormoses commented on #51
@zenmetsu yes that was a breaking change that was called out in the changelog and versioned as a major. If you are not pinning your gems I strongly recommend you read https://github.com/sensu-plugins/community/blob/master/best_practices/production_deployments/plugins/PINNING_VERSIONS.md and take steps to make sure you don't intentionally pull in breaking changes without human intervention.

[2018-09-20 15:58] majormoses commented on #51
That's pretty ancient from what I recall, ya there were some changes around stash/silence the latest version of the plugin should work with the latest version of sensu + uchiwa.

[2018-09-20 20:09] zenmetsu commented on #51
Yes, I had deployed a container which had an old version of Uchiwa.  I've since rolled my own container with Uchiwa 1.2.0 and everything is good.  This wasn't an issue with pinning, we were adding PagerDuty integration to an existing deployment and ran into the quirks, but thanks for the helpful and prompt response.

[2018-10-02 19:47] powellchristoph opened #52 "How are client keepalives handed?"
I see that you can set a team at the host level and per check, but is there any way to handle the client keepalives? Ideally, I would like to have the keepalive alerts sent to a separate team.

[2018-10-11 18:12] jspaleta opened #53 "Update sensu-plugin dep to 2.7 to pick up new Sensu 2 event data mapping"
sensu-plugin 2.7 has new logic to aid mutators and handlers map sensu 2 event data into sensu 1.x event data.

[2018-10-22 19:48] windowsrefund opened #54 "When did the severity filter get dropped?"
Once upon a time, my configuration worked:

<code>
    "pagerduty": {
        "command": "handler-pagerduty.rb",
        "filters": [
            "occurrences"
        ],
        "severities": [
            "critical"
        ],
        "type": "pipe"
    }
</code>

I just upgraded to sensu-plugins-pagerduty 3.0.1 and am seeing this in my Sensu master's log:

"message":"handler does not handle eve

[2018-11-05 16:49] windowsrefund commented on #54
n/m, I see it is native to the sensu's handlers {} configuration

[2018-11-05 16:49] #54 closed

[2020-06-11 22:27] cwjohnston commented on #53
Closed by #63

[2020-06-11 22:27] #53 closed

[2021-01-25 16:05] joe-armstrong commented on #30
I recently did some testing with this issue and it looks like PagerDuty has updated their API to allow for escalating an incident from a warning/low urgency to critical/high if the `Dynamic notifications based on alert severity` option is used in the `Assign and Notify` configuration for a service.

For testing we triggered an alert start as a warning starting a low priority incident in PagerDuty.

[2021-04-08 05:17] dependabot-preview[bot] opened #80 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/sensu-plugins/update-logs/75848883).